.dash{
    display: flex;
    box-sizing: border-box;
    position: inherit;
    align-items: center;
    padding-left: 1.5%;
    justify-content: left;
    margin: 0 auto;
    width: 100%;
    height: 140px;
    float: left;

    background: #4A6382;
    border-bottom: 1px solid #2B517D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 5px 5px / 5px 5px 5px 5px
}
.dash_2{
    display: flex;
    box-sizing: border-box;
    position: inherit;
    align-items: center;
    padding-left: 1.5%;
    justify-content: left;
    margin: 0 auto;
    width: 100%;
    height: 140px;
    float: left;

    background: #4A6382;
    border-bottom: 1px solid #2B517D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 5px 5px / 5px 5px 5px 5px
}

.idcard_left{
    display: inline-flex;
    box-sizing: content-box;
    position: inherit;
    align-items: center;
    justify-content: left;
    float: left;
    padding-right: 0px;
    width: 70%;
}
.idcard_right{
    display: inline-flex;
    box-sizing: content-box;
    position: inherit;
    align-items: center;
    justify-content: right;
    float: right;
    padding-right: 10px;
    width: 30%;
}
.table_Header{
    display: flex;
    box-sizing: border-box;
    position: inherit;
    padding-left: 1.5%;
    padding-top: 15px;
    align-items: center;
    justify-content: left;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    float: left;

    background: #4A6382;
    border-bottom: 1px solid #2B517D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px
}

@font-face {
    font-family: 'Cafe24Simplehae', 'simplehae';
    src: url('../fonts/Cafe24Simplehae.ttf');
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../fonts/Cafe24Ssurround.ttf');
}
@font-face {
    font-family: 'RecipekoreaFONT';
    src: url('../fonts/RecipekoreaFONT.ttf');
}
@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('../fonts/NotoSansKR-Regular.otf');
}
@font-face {
    font-family: 'NotoSansKR-Medium';
    src: url('../fonts/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: 'NotoSansKR-Light';
    src: url('../fonts/NotoSansKR-Light.otf');
}
@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('../fonts/NotoSansKR-Bold.otf');
}
@font-face {
    font-family: 'NotoSansKR-Black';
    src: url('../fonts/NotoSansKR-Black.otf');
}
@font-face {
    font-family: 'NotoSansKR-Thin';
    src: url('../fonts/NotoSansKR-Thin.otf');
}